#root {

  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}



.tamaño-imagen {
  border-radius: 68px;
  background: #33ff00b4;
  box-shadow:
    -25px -25px 16px #2f9f29;

  width: 150px;
  height: 150px;

}

.ordenar {
  display: grid;
  grid-template-columns: repeat(7, 200px);
  grid-template-rows: auto;
  margin-bottom: 30px;
  place-items: center;
  margin-top: 50px;
  margin-left: 130px;

}

body {
  background-image: url("../src/assets/images/fondo1.jpeg");
  background-size: cover;

}

.rekt {

  font-size: 35px;
  font-family: "Rubik Burned", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white;

}


.title {
  font-size: 35px;
  font-family: "Rubik Burned", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white;
  margin-top: 40px;
}


.subtitulo {

  font-size: 15px;
  font-weight: bold;
  color: white;

}

h2 {
  margin-bottom: 50px;
}


.fondo-nav {
  background-color: rgba(255, 255, 255, 0.137);
}

.descripcion {
  color: #1de9b6;
  font-size: 25px;
  text-align: center;
  margin-top: 50px;

}


.video {
  border: 10px solid transparent;
  border-radius: 60px;
  box-shadow: 5px 5px #1de9b6;
  margin-bottom: 30px;
  margin-top: 30px;


}

.texto {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  color: rgb(94, 252, 3);
  margin-top: 30px;
}


.finalizar-compra {
  margin-top: 120px;
  margin-left: 800px;
  margin-bottom: 60px;
}

.vaciar-carrito {
  margin-top: 30px;
}


.nav-link {
  color: white;
}



.site-footer {
  background-color: #26272bb2;

  font-size: 15px;

  color: white;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
 
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}



.footer-links a {
  color: rgb(44, 230, 20)
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}



@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text,
  .site-footer {
    text-align: center
  }
}