#root {
  max-width: 1280px;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.color {
  color: #76ff03;
  font-size: 30px;
  font-family: cursive;
  
}

.tamaño-imagen {
  
  border-radius: 15px;
  border: solid black 2px;
  width: 150px;
  height: 150px;
}

.ordenar {
display: flex;
align-items: center;
}

body {
background-color: #607d8b;

}


.subtitulo {
  color: #76ff03;
  font-size: 15px;
  font-weight: bold;
}